<%= link_to post_path(post), class: "post_index_link recent-post" do %>
          <div class="recent-post-image-wrapper">
               <div class="recent-post-image" style="background-image: url(<%= imagepath %>);"></div>
          </div>

          <div class="recent-post-title-wrapper">
               <div>
                    <div class="post-date-and-category"><%= post.category.string %></div>
                    <div class="recent-post-index-title"><%= post.title %></div>
               </div>
               <div class="post-date-and-category"><%= post.created_at.strftime("%B %d, %Y") %></div>
          </div>
<% end %>