<div class="post-header-block">
     <div class="post-date-and-category"><%= @post.category.string %><br><%= @post.created_at.strftime("%B %d, %Y") %></div>

     <div class="post-heading"><%= @post.title %></div>

     <div class="post-description"><%= @post.description %></div>

     <div class="post-user">By <%= link_to @post.user.name, user_path(@post.user.username) %></div>
</div>

<%= image_tag url_for(@post.header_image), class: "post-header-image" %>

<%= @post.content %>

<% if @orgdesc != nil && @orgname != nil %>
     <div class="post-aboutsection">
          <b>About <%= @orgname.string %></b><br>
          <%= @orgdesc.string %>
     </div>
<% end %>

<% if (user_signed_in? && @post.user == current_user) %>
  <%= link_to "Edit", edit_post_path(@post) %> | 
  <%= link_to "Destroy record", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<% end %>

<h2>Comments</h2>
<% if @post.comments.empty? %>
     No comments yet.
<% else %>
     <% @post.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
     <% end %>
<% end %>

<% if user_signed_in? %>
     <%= render 'comments/form' %>
<% end %>