<nav>
     <div class="navigation-header centered-content">
          <a href="/" class="navigation-link-top">
          <% if SiteImage.find_by(:name => Rails.application.config_for(:settings)["site_banner_image"][:key]) != nil %>
               <%= image_tag (SiteImage.find_by(:name => Rails.application.config_for(:settings)["site_banner_image"][:key]).image), class: "navigation-header-image" %>
          <% end %>

          <%= ActiveAdminSetting.find_by(:name => Rails.application.config_for(:settings)["site_name"][:key]) == nil ? Rails.application.config_for(:settings)["site_name"][:value] : ActiveAdminSetting.find_by(:name => Rails.application.config_for(:settings)["site_name"][:key]).string  %>
          </a>
     </div>
     <div class="navigation-divider"></div>
     <div class="links">
          <div class="navigation-category">
               <div class="navigation-category-title navigation-object">Things</div>
                    <%= link_to "Posts", posts_path %>
                    <% if user_signed_in? %>
                         <%= link_to "Create a new Post", new_post_path %>
                         <%= link_to "Ask-a-Peer", ask_a_peer_index_path %>
                    <% end %>
          </div>
          <div class="navigation-category">
               <div class="navigation-category-title navigation-object">Account</div>
               <% if user_signed_in? %>
                    <%= link_to "Administrative Building", "/admin", target: "_blank" %>
                    <%= link_to "Profile", user_path(current_user.username) %>
                    <%= link_to "Logout", destroy_user_session_path %>
               <% else %>
                    <%= link_to "Sign Up", new_user_registration_path %>
                    <%= link_to "Sign In", new_user_session_path %>
               <% end %>
          </div>
     </div>
</nav>