<!DOCTYPE html>
<html>
	<head>
		<title><%= ActiveAdminSetting.find_by(:name => Rails.application.config_for(:settings)["site_name"][:key]) == nil ? "Blogfactory Title" : ActiveAdminSetting.find_by(:name => Rails.application.config_for(:settings)["site_name"][:key]).string %></title>

	<!--
	
	Hello there, explorer!
	Visit https://github.com/DiPS-Digital-Peer-Initiative/blogfactory to see the source code.

	@sumukhprasad

	 -->

		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">


		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
	</head>

	<body>

	

	<div class="page-content">
		<%= render :partial => "layouts/navbar" %>
		<main>
			<% if notice %>
				<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert alert-danger"><%= alert %></p>
			<% end %>
			
			<%= yield %>
		</main>
	</div>

	<%= render :partial => "layouts/envsash" %>

	</body>
</html>
